In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
url = 'https://fr.wikipedia.org/wiki/Liste_des_pays_par_population'
response = requests.get(url)

In [6]:
soup = BeautifulSoup(response.text)

data = soup.find_all('table')[0]
df = pd.read_html(str(data))[0]

In [7]:
df.head()

,Rang (2021),Pays ou territoire,Population au 1er juillet 2021,Population projetée au 1er janvier 2024
0,-,Monde,7 909 295 151,8 082 070 900
1,1,Chine[a],1 425 893 465,1 425 493 416
2,2,Inde,1 407 563 842,1 435 228 798
3,3,États-Unis[b],336 997 624,340 912 892
4,4,Indonésie,273 753 191,278 681 856

In [8]:
df.describe()

,Rang (2021),Pays ou territoire,Population au 1er juillet 2021,Population projetée au 1er janvier 2024
count,238,238,238,238
unique,201,237,238,238
top,-,Saint-Martin,7 909 295 151,8 082 070 900
freq,38,2,1,1

In [9]:
df.to_csv(r"world_population_by_country.csv", index = None, header = True)